.contacto{
    padding: 80px 0;
    color: #2a2a2a;
    font-style: italic;

    @media screen and (max-width: 575px){
        padding: 40px 20px;
    }

    .redes{
        display: flex;
        gap: 15px;

        a{
            text-decoration: none;
            color: #59634f;
            font-size: 1.5rem;
        }
    }
}